body, html {
    min-height: 100%;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif
}
.container-fluid {
    padding:15px;
    text-align:center;
}
.books {
    padding:20px;
}
.book-listing {
    width: 9%;
    display: inline-block;
    padding: 20px;
    margin: 1px 1% 0;
    border-radius: 0;
    font-size: 10px;
    position:relative;
    border-left: 0;
    border-right:0;
    border-top: 0;
    border-bottom: 2px solid #000;
    transition: all .2s linear;
}
.book-listing:nth-child(10n), .book-listing:last-child {
    border-right: 0;
}
.book-listing:nth-child(2n) {
    top: 15px;
}
.book-listing:nth-child(3n) {
    top: 50px;
}
.book-listing:nth-child(7), .book-listing:nth-child(13), .book-listing:nth-child(17) {
    top: 35px;
}
.book-listing:nth-child(5n) {
    top: -10px;
}
.book-listing:nth-child(15n) {
    top: 70px;
}
.book-listing:nth-child(16n) {
    top: 40px;
}

.book-listing:hover {
    transform: scale(1.1);
    z-index: 10;
}
.book-listing .title, .book-listing .author, .book-listing .rating {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 5px 0;
}
.book-listing .rating {
    color: #aaa;
}
.book-listing .img img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    transition: all .2s linear;

}
.book-listing .img img:hover {
    -webkit-filter:sepia(.5);
}
.query {
    width: 30%;
    margin: auto;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -15%;
    background: aliceblue;
    color: #9B7A49;
    border: 0;
}

/**.details.html**/
.container-fluid.detail {
    padding-left: 0;
    text-align: left;
}
.detail .row {
    width: 80%;
    margin: 20px 0;
}
.detail .row>img {
    width: 25%;
    display: inline-block;
    vertical-align: initial;
}
.bookinfo {
    display: inline-block;
    width: 70%;
    margin-left: 4%;
    font-size: 12px;
    line-height: 2em;
}
.minifo {
    color: #999;
}
.tags {
    color: skyblue;
}
.tags:after {
    content: ",";
}
.tags:last-child:after {
    content: " ";
}
.bookinfo p strong {
    font-size: 22px;
    color: teal;
}