<div class="container-fluid detail">
  	<div class="row clearfix">
		<img ng-src="{{book.images.large}}">
		<div class="bookinfo">
			<p ng-if="book.notFound === false"><strong>{{book.title}}</strong></p>
			<p class="not-found" ng-if="book.notFound === true"><strong>404</strong>找不到资源了...良辰念书少，客官别逗...O__O</p>

			<div class="minifo">
				<p ng-if="book.author.length > 0">作者：{{book.author.join('，')}}</p>
				<p ng-if="book.rating.length > 0">评分：{{book.rating.average}}</p>
				<p ng-if="book.pubdate.length > 0">出版日期：{{book.pubdate}}</p>
				<p ng-if="book.publisher.length > 0">出版社：{{book.publisher}}</p>
				<p ng-if="book.pages.length > 0">总页数：{{book.pages}}</p>
				<p ng-if="book.price.length > 0">价格：{{book.price}}</p>
				<p ng-if="book.isbn13.length > 0">isbn13：{{book.isbn13}}</p>
			</div>
			<div class="authorinfo" ng-if="author_intro.length > 0">
				<strong>作者简介</strong>
				<p ng-repeat="p in author_intro">
					{{p}}
				</p>
			</div>
			<div class="summary clearfix" ng-if="summary.length > 0">
				<strong>摘要</strong>
				<p ng-repeat="p in summary">
					{{p}}
				</p>
			</div>
			<p class="taglist" ng-if="book.notFound === false">
				标签：
				<span ng-if="book.tags.length > 0" ng-repeat="tag in book.tags" class="tags">
					{{tag.name}}
				</span>
				<span ng-if="book.tags.length === 0" class="tags">
					暂无
				</span>
			</p>
		</div>
	</div>
	<a class="close" href=".#/books">&times;</a>
</div>