<div class="container-fluid detail">
  	<div class="row clearfix">
		<img ng-src="{{book.images.large}}">
		<div class="bookinfo">
			<p><strong>{{book.title}}</strong></p>

			<p class="minifo">
				作者：{{book.author.join('，')}}<br>
				评分：{{book.rating.average}}<br>
				出版日期：{{book.pubdate}}<br>
				出版社：{{book.publisher}}<br>
				总页数：{{book.pages}}<br>
				价格：{{book.price}}<br>
				isbn13：{{book.isbn13}}<br>
			</p>
			<div class="authorinfo" ng-if="book.author_intro.length > 0">
				<p ng-repeat="p in book.author_intro.replace('\n\n', '\n').split('\n')">
					{{p}}
				</p>
			</div>
			<div class="summary clearfix" ng-if="book.summary.length > 0">
				<p ng-repeat="p in book.summary.replace('\n\n', '\n').split('\n')">
					{{p}}
				</p>
			</div>
			<p class="taglist">标签：
				<span ng-repeat="tag in book.tags" class="tags">
					{{tag.name}}
				</span>
			</p>
		</div>
	</div>
	<a class="close" href="javascript: history.back();">&times;</a>
</div>